#game-page {
    position: absolute;
    top: 60vh;
    padding-bottom: 1rem;
}

.game-page__content {
    padding: 1.5rem;
    background-color: rgb(22, 21, 29);
    box-shadow: 0 0 1rem #000;
}

.game-page__content h2 {
    font-size: 2.5rem;
}

.game-page__info {
    margin-bottom: 1rem;
}

.game-page__info *> {
    flex-basis: 100%;
}

.game-page__info-detail {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 0.5rem;
}

@media (min-width: 48em) {
    .game-page__info>* {
        flex-basis: 100%;
    }

    .game-page__info-about {
        max-height: 65vh;
        overflow-y: auto;
    }

    .game-page__info-about::-webkit-scrollbar {
        width: 0.85em;
    }
}