.game-page__image-container {
    height: 100vh;
}

.game-page__image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.game-page__content {
    padding: 1.5rem;
    background-color: rgb(22, 21, 29);
    box-shadow: 0 0 1rem #000;
    transform: translateY(-35vh);
}

.game-page__content h2 {
    font-size: 2.5rem;
}

.game-page__info {
    flex-basis: 80%;
    margin-bottom: 1rem;
}

.game-page__info-about ul {
    list-style-position: inside;
}

.game-page__info-detail {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 0.5rem;
}

@media (min-width: 48em) {
    .game-page__info > * {
        flex-basis: 100%;
    }
}