.App .logo {
  max-width: 6rem;
}

.App header {
  margin-bottom: 1rem;
}

.App header.game-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.App form {
  width: 100%;
  max-width: 30rem;
}

.App input {
  width: 100%;
  font-size: 1rem;
  border: none;
  outline: none;
  border-radius: 1em 0 0 1em;
  padding: 0.5em;
  background-color: rgb(68, 68, 68);
  color: rgb(236, 236, 236);
}

.App button {
  font-size: 1rem;
  align-self: stretch;
  line-height: 0;
  padding-inline: 1em;
  border: none;
  outline: none;
  border-radius: 0 1em 1em 0;
  font-weight: 500;
  background-color: #0a6698;
  color: rgb(236, 236, 236);
  cursor: pointer;
  transition: 0.25s;
}

.App button:hover {
  background-color: #185374;
}
