* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  background-color: #151515;
  color: #fff;
}

img {
  max-width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col-row {
  display: flex;
  flex-direction: column;
}

.flex-jc {
  justify-content: center;
}

.flex-jsb {
  justify-content: space-between;
}

.flex-ac {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-g1 {
  gap: 1rem;
}

.flex-g2 {
  gap: 2rem;
}

.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

@media (min-width: 48em) {
  .flex-col-row {
    flex-direction: row;
  }
}